.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.show-button {
  padding: 20px;
  border: 3px solid black;
}

.show-code {
  margin-top: 10px;
  padding: 20px;
  border: 3px solid black;
}

.show-avatar {
  padding: 20px;
  margin-top: 20px;
}
